@model IEnumerable<AspNetFilmApp.Models.FilmViewModel>

@{
     ViewData["Title"] = "Index";
     Layout = "_LayoutHome";
}

<h1>Admin</h1>

<div class="m-2">
     <button type="button" class="btn btn-primary" asp-action="Create"> Create New </button>
</div>

<div class="table-responsive">
     <table class="table align-middle">
          <thead>
               <tr>
                    <th class="text-center">
                         @Html.DisplayNameFor(model => model.Judul)
                    </th>
                    <th class="text-center">
                         @Html.DisplayNameFor(model => model.Sutradara)
                    </th>
                    <th class="text-center">
                         @Html.DisplayNameFor(model => model.Aktor)
                    </th>
                    <th class="text-center">
                         @Html.DisplayNameFor(model => model.Sinopsis)
                    </th>
                    <th class="text-center">
                         @Html.DisplayNameFor(model => model.Durasi)
                    </th>
                    <th class="text-center">
                         @Html.DisplayNameFor(model => model.RatingUsia)
                    </th>
                    <th class="text-center">
                         @Html.DisplayNameFor(model => model.Genre)
                    </th>
                    <th class="text-center">
                         @Html.DisplayNameFor(model => model.LinkImg)
                    </th>
                    <th class="text-center">
                         @Html.DisplayNameFor(model => model.LinkTrailer)
                    </th>
                    <th class="text-center">
                         @Html.DisplayNameFor(model => model.TglTayang)
                    </th>
               </tr>
          </thead>
          <tbody>
               @foreach (var item in Model)
               {
                    <tr>
                         <th>
                              <p class="text-center">@item.Judul</p>
                         </th>
                         <th>
                              <p class="text-center">@item.Sutradara</p>
                         </th>
                         <th>
                              <p class="text-center">@item.Aktor</p>
                         </th>
                         <th>
                              <p class="text-center">@item.Sinopsis</p>
                         </th>
                         <th>
                              <p class="text-center">@item.Durasi</p>
                         </th>
                         <th>
                              <p class="text-center">@item.RatingUsia</p>
                         </th>
                         <th>
                              <p class="text-center">@item.Genre</p>
                         </th>
                         <th>
                              <img src="@item.LinkImg" width="150">
                         </th>
                         <th>
                              <i class="text-center">@item.LinkTrailer</i>
                         </th>
                         <th>
                              <p class="text-center">@item.TglTayang</p>
                         </th>
                    </tr>
               }
          </tbody>
     </table>
</div>
